.album-covers{
    position: absolute;
    top:0;
    left:0;
    width: 10vw;
    height: 85vh;
    border-right: 2px solid blue;
    overflow: scroll;
}

.album-cover{
  width: 100%;
  height: auto;
  cursor: pointer;
}

.songs{
    position: absolute;
    top:0;
    right:0;
    width: 90vw;
    height: 90vh;
    padding-top: 50px;
    overflow: scroll;
}

.song{
  font-size: 25px;
  text-align: center;
  color: blue;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.song:hover{
  color: white;
  background-color: blue;
}

.song.playing{
  color: white;
  background-color: darkblue;
}

.song:hover .span-play{
  opacity: 1;
}

.song:hover .song-playlist{
  opacity: 1;
}

.song-span{
  display: inline-block;
  width: 28%;
}

.song-span.not-active{
  color: grey;
}

.span-play{
  background-color: grey;
  position: relative;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  opacity: 0;
  transition: opacity 0.15s, border-color 0.3s;
  border: 2px solid transparent;
}

.console{
    width: 100vw;
    position: fixed;
    bottom:0;
    left:0;
    background-color: blue;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.console-buttons{
  position: fixed;
  bottom: 5px;
}

#play-big{
  width: 5vw;
  height: auto;
  cursor: pointer;
}

#next{
  width: 5vw;
  height: auto;
  cursor: pointer;
}

#undo{
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.time{
  color: white;
  display: inline-block;
  margin-left: auto;
  font-size: 30px;
  padding: 1vh;
}

.time span{
  font-size: 30px;
}

.song-playlist{
  background-color: grey;
  display: inline-block;
  width: 45px;
  height: 45px;
  opacity: 0;
  transition: opacity 0.15s, border-color 0.3s;
  border: 2px solid transparent;
  position: relative;
  top: -23px;
  right: -23px;
}

.song-playlist:hover, .span-play:hover{
  border-color: white;
}

#playlist{
  font-size: 20px;
  background-color: grey;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  transition: border-color 0.3s;
}

#playlist:hover{
  border-color: blue;
}
